# Mongodb Database Configuration
MONGODB_URI=mongodb://localhost:27017/demo-app

# PostgreSQL Database Configuration
# DB_DIALECT_POSTGRES=postgres
# DB_DATABASE_POSTGRES=demo_db
# DB_USERNAME_POSTGRES=postgres
# DB_PASSWORD_POSTGRES=password
# DB_HOST_POSTGRES=localhost
# DB_PORT_POSTGRES=5432

# Required env
REDIS_URI=redis://localhost:6379/9
JWT_SECRET=JWT_SECRET

# Optional env (with default value)
# APP_NAME=demo_app
# NODE_ENV=development
# LOG_LEVEL=debug
# LOG_OUTPUT_JSON=0
# PORT=3000
# KAFKA_BROKERS=localhost:9092